<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>CS 494 Final Project - Questions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" href="site.css">
  </head>
  <body class="pb-5">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">How much do you value your life?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Questions
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./answers.html">Answers</a>
            </li>
            <li class="nav-item">
              <form action="credits" method="GET">
                <input class="nav-link" type="submit" value="Credits">
              </form>
            </li>
            <li class="nav-item">
              <form action="logout" method="POST">
                <input class="nav-link" type="submit" value="Logout">
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Welcome, {{ username }}!</h1>
          <h4 class="mb-3">Pick a question to answer.</h1>
          <ul class="list-group">
            <li class="list-group-item" id="q1">
              <form action="question" method="GET">
                <input class="" type="submit" value="Scuba Diving">
              </form>
            </li>
            <li class="list-group-item" id="q2"><a href="./question?id=2">Airplane</a></li>
            <li class="list-group-item" id="q3"><a href="./question?id=3">Niagara Falls barrel ride</a></li>
            <li class="list-group-item" id="q4"><a href="./question?id=4">Space travel</a></li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      
  </body>
</html>